
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px #212020dc;
}

.buttons{
    display: flex;
    align-items: center;
    width: 185px;
    justify-content: space-between;
    margin-right: 2vh;
}

.icon-container{
    display: flex;
    justify-content: space-between;
    width: 125px;
    padding: 7px;
    align-items: center;
}

.icon-container h4{
    color: #B5EC1B;
    font-size: 12px;
}


.logo{
    width: 30px;
}
