.title{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    align-self: center;
    text-align: center;
    letter-spacing: -0.05em;
}

.theo{
    color: #17539F;
}
.do{
    color: #6ABD9E;
}