html, body {
    margin: 0;
    padding: 0;
    font-family: Sarpanch;
    background-color: #323243;
    color: #575873;
    
}


.icon-container{
    display: flex;
    justify-content: space-between;
    width: 125px;
    padding: 7px;
    align-items: center;
}

.icon-container h4{
    color: #B5EC1B;
    font-size: 12px;
}


.logo{
    width: 30px;
}

.title{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    align-self: center;
    text-align: center;
    letter-spacing: -0.05em;
}
.theo{
    color: #17539F;
}
.do{
    color: #6ABD9E;
}

.body{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: auto;
}

.body ol{
    margin-left: 17vw;
    margin-right: 17vw;
}

.body h3{
    /* margin: 0; */
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

.body li{
    margin-bottom: 15px;
    
}

.body li::marker{
    color: #B5EC1B;
}

.body li a{
    color: #B5EC1B;
}
.body li a:hover{
    color: hotpink;
}

.teddy{
    font-size: 50px;
}

.footer-container{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-container small{
    color: #575873;
}

.body-container{
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
    margin: auto;
}

.main-tex{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding-bottom: 40px;
}

.compact{
    display: flex;
    min-height: 87vh;
}

.whole-page{
    display: flex;
    flex-direction: column;
}



